#logo {
    float: left;
    margin: 10px 5px 0px 288px;
}
.logoName{
    position: relative;
    margin: 15px 5px 0px 15px;
    padding: 15px 5px 0px 15px;
}
.social{
    float: right;
    margin: 0px 330px 0px 10px;
    /* padding-left: 5px;
    padding-right: 5px; */
}
.social img{
    float: left;
    margin-left: 1px;
    /* padding-right: 2px; */
}
#print {
    margin-right:5px;
}

.one{
    border: dotted grey;
    transform: skew(45deg);
    
    
    margin-top: 50px;
    width: 59%;
}
.two{
    border: dotted grey;
    transform: skew(45deg);
    margin-top: -8px;
    /* margin-left: 50; */
      
    width: 59%;
}
.info{
    
}
/* .info h1,p{
    margin: 0 0 10px 15px;
} */
#infoHead{
    float: left;
    margin: 10px 0px 10px 308px;
}

#print {
    float: right;
    margin: 10px 310px 15px 0px;
}

#pizza{   
    margin: 0 auto;
    top: 0;
    width: 901px;
    height: 603px;
}

form{
    display: inline-block;
    margin: 36px 152px 10px 51px;
    ;
    /* padding: 10px 10px 10px 10px; */
}
#formVue{
    width: 901px;
    height: 187px;
    background-image: url(../image/list-bg.png);
    margin: 45px 0px 25px 310px;
}

.ppp{
    margin: 7% 0 0 20%;
    width: 59%;
    text-align: justify;
    text-indent: 50px;
    line-height: 20px;
}
.three{
    margin-top: 10% 10%;

    width: 50%;
}