#logo {
    float: left;
    margin: 10px 5px 0px 303px;
}
.logoName{
    position: relative;
    margin: 15px 5px 0px 15px;
    padding: 15px 5px 0px 15px;
}
.social{
    float: right;
    margin: 0px 307px 0px 10px;
    /* padding-left: 5px;
    padding-right: 5px; */
}
.social img{
    float: left;
    margin-left: 1px;
    /* padding-right: 2px; */
}
#pint{
    margin-right:5px;
}
#print {
    margin-right:5px;
}

hr{
    border-style: dotted;
    transform: skew(45deg);
    margin-top: 70px;
    width: 100px;

}
.info{
    
}
/* .info h1,p{
    margin: 0 0 10px 15px;
} */
#infoHead{
    float: left;
    margin: 10px 0px 10px 308px;
}

#print {
    float: right;
    margin: 10px 310px 15px 0px;
}

#pizza{   
    margin: 0 auto;
    top: 0;
    width: 901px;
    height: 603px;
}

form{
    display: inline-block;
    margin: 36px 152px 10px 51px;
    ;
    /* padding: 10px 10px 10px 10px; */
}
#formVue{
    width: 901px;
    height: 187px;
    background-image: url(../image/list-bg.png);
    margin: 77px 0px 25px 310px;
}

#vanessa{
    display: inline;
}
#vanessaphoto{
    float: left;
    margin: 10px 5px 5px 293px;
}

#vanessainfo{
    position: relative;
    padding: 20px 0px 0px 251px;
}
#submit{
    float: right;
    margin: 0px 310px 6px 30px;
    padding-top: 10px;
    background-color: rgb(243, 50, 50);
    height: 50px;
    border: none;
    color: #f5f5f5;
}